{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-image:url('college.jpg')">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">ABC College</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="credentials/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="credentials/register">Register</a>
        </li>
        <li class="nav-item dropdown" >
     <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" >
            Departments
          </a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" > </a></li>
              <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Computer_science">Computer Science</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Social_science">Social Science</a>
              <a class="dropdown-item" href="https://en.wikipedia.org/wiki/College_of_Arts_and_Sciences">Arts and Science</a>
              <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Commerce">Commerce</a>
              <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Management">Management Studies</a>
          </ul>
<!--        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Department <span class="caret"></span></a>-->
<!--        <ul class="dropdown-menu">&ndash;&gt;-->
<!--          <li><a href="https://en.wikipedia.org/wiki/Computer_science">Computer Science</a></li>-->
<!--          <li><a href="#">Arts and Science</a></li>-->
<!--          <li><a href="#">Social Science</a></li>-->
<!--            <li><a href="#">Commerce </a></li>-->
<!--            <li><a href="#">Management studies </a></li>-->
<!--        </ul>-->
<!--        </li>-->
<!--          <div class="dropdown">-->
<!--<li class="drop-down" style="text-align:right;color:blue; >-->
<!--    <li class="nav-item" style="text-align:right;color:skyblue;">-->
<!--    <tr>-->
<!--<td><label class="dropdown" for="department">Departments</label></td>-->
<!--<td><select class="dropdown" name="department" id="department" autofocus>-->
<!--  <option value="computer science" autofocus><a href="https://en.wikipedia.org/wiki/Computer_science">Computer Science</a></option>-->
<!--  <option value="social science">Social science</option>-->
<!--  <option value="arts and science">Arts and science</option>-->
<!--  <option value="commerce">Commerce</option>-->
<!--    <option value="management studies">Management studies</option>-->
<!--</select>-->
<!--    </td>-->
<!--    </tr>-->
<!--          </li>-->
<!--</li>-->
<!--              </div>-->
</ul>
</div>

</div>
</nav>
<!--<nav class="navbar navbar-inverse">-->
<!--  <div class="container-fluid">-->
<!--    <div class="navbar-header">-->
<!--      <a class="navbar-brand" href="#">ABC College</a>-->
<!--    </div>-->
<!--    <ul class="nav navbar-nav">-->
<!--&lt;!&ndash;      <li class="active"><a href="credentials/login">Login</a></li>&ndash;&gt;-->

<!--&lt;!&ndash;      <li class="active"><a href="credentials/register">Register</a></li>&ndash;&gt;-->
<!--        <li><a href="credentials/login">Login</a></li>-->
<!--      <li><a href="credentials/register">Register</a></li>-->
<!--      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Department <span class="caret"></span></a>-->
<!--        <ul class="dropdown-menu">-->
<!--          <li><a href="https://en.wikipedia.org/wiki/Computer_science">Computer Science</a></li>-->
<!--          <li><a href="#">Arts and Science</a></li>-->
<!--          <li><a href="#">Social Science</a></li>-->
<!--            <li><a href="#">Commerce </a></li>-->
<!--            <li><a href="#">Management studies </a></li>-->
<!--        </ul>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->





    <div class="container">
        <div class="col-md-8 col-sm-12 col-lg-12 ">
        <img src="{% static 'images/college.jpg' %}" width="100%" height="40%">

        <div class="top-left" style="font-family:times new roman;color:black;font-size:190%;text-align:center">ABC COLLEGE OF ARTS AND SCIENCE
        </div>
        <p style="font-family:times new roman;color:black;font-size:120%;text-align:center" ;="">
            <i><strong>A college (Latin: collegium) </strong>is an educational institution or a constituent part of one. A college may be a degree-awarding tertiary educational institution,
            a part of a collegiate or federal university, an institution offering vocational education, or a secondary school.
In most of the world, a college may be a high school or secondary school, a college of further education, a training institution that awards trade qualifications,
            a higher-education provider that does not have university status (often without its own degree-awarding powers), or a constituent part of a university.
About 60 cat breeds are recognized by various cat registries.</i></p>

    <div class="container" style="text-align:center;">

        <a class="btn btn-secondary" href="credentials/login" >Login</a>
    </div>
        </div>
        </div>
</body>
</html>